<div class="container">
    <div class="text-center mt-5">
      <div>
        <h1>SaleSpot</h1>
        <img src="../assets/logo1.png" alt="Logo">
      </div><br><br>
      <div>
        <h2>Sistema de Control y Registro de Ventas</h2>
      </div>
      <div class="paragraph-container mt-4">
        <p>Este software brinda a los usuarios la capacidad de registrar y monitorear las ventas de productos o servicios de manera rápida y precisa. Permite ingresar información relevante, como la descripción del producto, el precio, la cantidad vendida y los detalles del cliente. Además, ofrece la posibilidad de generar facturas o recibos automáticamente, lo que simplifica el proceso de facturación.</p>
      </div>
      <div class="mt-4">
        <a class="btn btn-primary mr-2" routerLink="/login">Ingresar</a>
      </div>
    </div>
  </div>
  
