<div class="container">
    <div class="text-center mt-5">
      <div>
        <h2>Login</h2>
      </div>
      <div id="form-container" class="mt-4">
        <form (ngSubmit)="login()">
            <div class="form-group">
              <label for="tdoc">Tipo de Documento:</label>
              <select id="tdoc" [(ngModel)]="tdoc" name="tdoc" class="form-control" required>
                <!-- Opciones para Tipo de Documento -->
                <option value="TI">TI</option>
                <option value="CC">CC</option>
                <option value="CE">CE</option>
              </select>
            </div>
        
            <div class="form-group">
              <label for="id">ID:</label>
              <input type="number" id="id" [(ngModel)]="id" name="id" class="form-control" required inputmode="none">
            </div>
            
        
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
            </div>
        
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
          </form>

          <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      </div>
    </div>
</div>