<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">Menú Principal</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
            <li class="nav-item">
                <!-- Enlace de Cerrar Sesión -->
                <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center menu-title">Administra tu plataforma con facilidad</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="menu-box">
                <h4>Facturas</h4>
                <p>Administra tus facturas y registros de ventas.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-box">
                <a href="/usuarios">
                    <h4>Usuarios</h4>
                    <!-- Agregar un enlace a la página "Usuarios" -->
                    <p>Administra los perfiles de usuarios y configuraciones.</p>
                </a>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="menu-box">
                <h4>Productos</h4>
                <p>Administra tus productos y catálogos.</p>
            </div>
        </div>
    </div>
  </div>
  
  
