<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">Usuarios</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/menu">Menú Principal</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Administra los Usuarios de SaleSpot</h2>
        </div>
    </div>
    <div class="row profile-container">
        <div class="col-md-4">
            <div class="profile-card">
                <a href="/registrar">
                <h4>Agregar Usuario</h4>
                <p>Permite agregar un nuevo usuario al sistema.</p>
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-card">
                <a href="/consultar">
                <h4>Perfiles de Usuarios</h4>
                <p>Permite buscar y ver información de usuarios existentes.</p>
            </a>
            </div>
        </div>
    </div>
</div>

  
  
