.menu-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px; 
  }

  .menu-box:hover {
    transform: translateY(-5px);
  }

  .menu-title {
    margin-bottom: 40px;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }

  h2::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 4px;
    background-color: #6c757d;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
  }

  h2::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #6c757d;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
  }
  .menu-box{
    margin-top: 40px;
    height: 400px;
    
  }
  img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }