<app-nav></app-nav>
<div class="container mt-5">
    <h5 class="text-center py-2 bg-primary text-white">Administrar</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="menu-box">
                <h3>Perfiles</h3>
                <div class="profile-buttons">
                    <button class="profile-button admin-button" routerLink="/listar-admin">Administradores</button>
                    <button class="profile-button employee-button" routerLink="/listar-empleado">Empleados</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-box">
                <h3>Productos</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-box">
                <h3>Ventas</h3>
            </div>
        </div>
    </div>
</div>
